body {
    background: linear-gradient(rgb(14, 126, 76), rgb(98, 112, 100));
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    width: 100%;
    background-color: rgb(21, 68, 56);
    color: rgb(218, 218, 95);
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.nav-links {
    width: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    position: relative;
    list-style: none;
}

.button-border {
    padding: 10px 20px 10px 20px;
    background-color: rgba(77, 138, 187, 0.507);
    border-radius: 10px;
}
